body{
    background: #50032c;
}

#dados{
    text-align: center;
    color: aliceblue;
}

#dados2{
    text-align: center;
    color: aliceblue;
}

#dados3{
    text-align: center;
    color: aliceblue;
    
}